body {
    background: #c9c7c7f3;
    color: #333333;
  }
  .features{
    background: #fcfcfc;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  .keys{
    font-size: small;
    color:rgb(140, 146, 150);  
  }
  .hidden{
    visibility: hidden
  }