body {
    background: #c9c7c7f3;
    color: #333333;
  }
  .features{
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 20px;
  }
  .keys{
    font-size: small;
    color:rgb(140, 146, 150);  
  }